// Стили для проектов
.project h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
}

.project img {
  @media screen and (max-width: $tablet2) {
    margin-left: auto;
    margin-right: auto;
  }
}

.project p {
  color: $grey;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.project .list {
  @media screen and (min-width: $tablet), (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
  }
}

.project .item {
  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 60px) / 3);
  }
}

.project .item:not(:last-child) {
  @media screen and (max-width: $tablet2) {
    margin-bottom: 30px;
  }
}

.project-wrapping {
  border: 1px solid #eeeeee;

  @include transition(box-shadow);
}

.project .item:not(:nth-child(2n)) {
  @media screen and (min-width: $tablet) and (max-width: $desktop2) {
    margin-right: 30px;
  }
}

.project .item:not(:nth-child(3n)) {
  @media screen and (min-width: $desktop) {
    margin-right: 30px;
  }
}

.project .item:not(:nth-last-child(-n + 2)) {
  @media screen and (min-width: $tablet) and (max-width: $desktop2) {
    margin-bottom: 30px;
  }
}

.project .item:not(:nth-last-child(-n + 3)) {
  @media screen and (min-width: $desktop) {
    margin-bottom: 30px;
  }
}

.project .link:hover .project-wrapping,
.project .link:focus .project-wrapping {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

// Всплывающий текст
.overlay-wrapping {
  position: relative;
  overflow: hidden;
}

.overlay-box {
  @extend %centered;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay-background;
  transform: translatey(100%);
  @include transition(transform);

  .project .link:hover &,
  .project .link:focus & {
    transform: translatey(0);
  }
}

.project .overlay {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $white;
  margin: 24px;
}
