/* Соц сети */

.social-icon {
  width: 20px;
  height: 20px;
  fill: $social;

  @include transition(fill);
}

.team-social {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $white;
  @extend %centered;
  @include transition(background-color);
}

.social-ul > li:not(:last-child),
.connect-list > li:not(:last-child) {
  margin-right: 10px;
}

.social-link:hover .team-social,
.social-link:focus .team-social,
.social-link:hover .connect-social,
.social-link:focus .connect-social {
  background-color: $hover;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: $white;
}

.list.social-ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
